@model CategoryCreateViewModel

<div class="container">

    <form asp-action="Create" class="col-md-6 offset-md-3" enctype="multipart/form-data">

        <h1 class="text-center">Додати категорію</h1>

        <div class="mb-3">
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Image" class="form-label"></label>
            <input asp-for="Image" class="form-control" />
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Додати</button>
        <a href="/" class="btn btn-dark">Скасувати</a>

    </form>

</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

